/*
Tabs content:

	*normalize
	*header
	*main
		**best
		**works
		**cleaning
		**service
		**order_now
		**animation
		**tabs
		**review
	*footer
	*media-queries
*/
/*================= *normalize =================*/
/*================= END *normalize =================*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
*,
*:before,
*:after {
  box-sizing: border-box; }

*::-moz-selection {
  background-color: #FFCC01; }

*::selection {
  background-color: #FFCC01; }

.container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto; }

html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: "Raleway", "Montserrat", sans-serif; }

p {
  margin: 0;
  font-family: "Raleway", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin: 0; }

ul {
  padding: 0;
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

/*================= *header =================*/
header {
  padding: 20px 0;
  background-color: #e4e4e4; }
  header p {
    font-size: 1.5rem; }
  header .burger-nav {
    display: none;
    width: 32px;
    height: 32px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-image: url("../images/nav.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer; }

/*================= END *header =================*/
/*================= *main =================*/
.section-area {
  padding: 50px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .section-area--left {
    margin-right: 62px; }
    .section-area--left-item {
      margin-bottom: 60px; }
      .section-area--left-item select {
        width: 239px;
        max-width: 100%;
        padding: 14px 10px;
        font-family: "Relaway", sans-serif;
        font-size: 1.5rem;
        border: 1px solid #dee0e1;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        background-image: url("../images/down.png");
        background-position: 95% 50%;
        background-repeat: no-repeat;
        background-size: 5%; }
      .section-area--left-item .checkbox {
        display: none; }
      .section-area--left-item .checkbox-custom {
        position: relative;
        width: 20px;
        height: 20px;
        border: 1px solid #dee0e1;
        border-radius: 3px; }
      .section-area--left-item .checkbox-custom,
      .section-area--left-item .label {
        display: inline-block;
        vertical-align: middle;
        font-family: "Relaway", sans-serif;
        font-size: 1.5rem;
        margin-bottom: 17px; }
      .section-area--left-item .label {
        margin-left: 10px; }
      .section-area--left-item .checkbox:checked + .checkbox-custom::before {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        border-radius: 1px;
        color: #1cb8ff;
        background-image: url("../images/checked.png");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover; }
      .section-area--left-item .count {
        color: #a6a9af;
        margin-left: 10px; }
    .section-area--left h2 {
      margin-bottom: 30px;
      font-size: 1.8rem;
      text-transform: uppercase; }
    .section-area--left .range-slider {
      position: relative;
      width: 78%;
      margin: 0 auto;
      padding-bottom: 23px; }
    .section-area--left .range-title {
      margin-top: 10px;
      margin-bottom: 0px;
      font-size: 13px;
      font-weight: normal;
      color: rgba(25, 25, 25, 0.6); }
    .section-area--left .range-title-desc {
      font-size: 16px;
      margin-left: 40px; }
    .section-area--left .range-slider__range {
      -webkit-appearance: none;
      width: 100%;
      height: 3px;
      border-radius: 1.5px;
      background: #dedede;
      outline: none;
      padding: 0;
      margin: 0; }
    .section-area--left .range-slider__range::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      position: relative;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background: #6a9ad0;
      cursor: pointer;
      z-index: 2;
      -webkit-transition: background .15s ease-in-out;
      transition: background .15s ease-in-out; }
    .section-area--left .range-slider__range::-webkit-slider-thumb:hover {
      background: #0262ce; }
    .section-area--left .range-slider__range:active::-webkit-slider-thumb {
      background: #0262ce; }
    .section-area--left .range-slider__range::-moz-range-thumb {
      position: relative;
      width: 9px;
      height: 9px;
      border: 0;
      z-index: 2;
      border-radius: 50%;
      background: #6a9ad0;
      cursor: pointer;
      -webkit-transition: background .15s ease-in-out;
      transition: background .15s ease-in-out; }
    .section-area--left .range-slider__range::-moz-range-thumb:hover {
      background: #0262ce; }
    .section-area--left .range-slider__range:active::-moz-range-thumb {
      background: #0262ce; }
    .section-area--left .range-slider__line {
      position: absolute;
      top: 27px;
      left: 0;
      display: inline-block;
      width: 0;
      height: 3px;
      border-radius: 1.5px;
      background-color: #6a9ad0; }
    .section-area--left .range-slider__line.desk-line {
      top: 31px; }
    .section-area--left .range-slider__value,
    .section-area--left .range-slider__value-min,
    .section-area--left .range-slider__value-max {
      position: absolute;
      bottom: 6px;
      display: inline-block;
      font-size: 11px;
      font-weight: 300;
      color: #202020; }
    .section-area--left .range-slider__value {
      left: 0;
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
      background-color: #fff;
      z-index: 2; }
    .section-area--left .range-slider__value .desk-value {
      left: 10%; }
    .section-area--left .range-slider__value-min {
      left: 0; }
    .section-area--left .min-desc {
      left: 0px; }
    .section-area--left .range-slider__value-min .min-desk {
      left: 0px; }
    .section-area--left .range-slider__value-max {
      right: 0; }
    .section-area--left .price-attr {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .section-area--left .price-attr p {
        font-size: "Montserrat", sans-serif;
        font-size: 1.6rem;
        font-weight: 700; }
      .section-area--left .price-attr button {
        width: 100px;
        max-width: 100%;
        padding: 10px 5px;
        font-size: 1.4rem;
        color: #fff;
        text-transform: uppercase;
        border: none;
        background-color: #1cb8ff;
        cursor: pointer; }
  .section-area--right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .section-area--right .card {
      width: 269px;
      margin-right: 30px;
      margin-bottom: 30px;
      cursor: pointer; }
      .section-area--right .card:nth-child(3n) {
        margin-right: 0; }
      .section-area--right .card-top {
        position: relative;
        height: 180px;
        max-height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
        .section-area--right .card-top:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
          z-index: 10; }
        .section-area--right .card-top span {
          position: absolute;
          left: 8%;
          bottom: 10px;
          font-size: 1.3rem;
          color: #fff; }
      .section-area--right .card-attr {
        padding: 18px 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        font-size: 1.3rem; }
        .section-area--right .card-attr-item:nth-child(1) span {
          color: #a6a9af; }
        .section-area--right .card-attr-item:nth-child(2) span {
          font-family: "Montserrat", sans-serif;
          font-weight: 700; }
      .section-area--right .card h3 {
        padding: 18px 20px;
        font-size: 1.6rem; }
      .section-area--right .card:hover {
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3); }
        .section-area--right .card:hover .card-top:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(28, 184, 255, 0.7);
          z-index: 10; }

/*================= END *main =================*/
/*================= *footer =================*/
/*================= END *footer =================*/
/*================= *media-queries =================*/
@media screen and (max-width: 1170px) {
  header {
    padding: 20px 15px; }
  .container {
    padding: 0 15px; }
  .section-area--right {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .section-area--right .card {
      margin-right: 30px; }
      .section-area--right .card:nth-child(2n) {
        margin-right: 0; }
      .section-area--right .card:nth-child(3n) {
        margin-right: 30px; } }

@media screen and (max-width: 980px) {
  .section-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .section-area--left {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      margin-right: 0; }
      .section-area--left .price-attr {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .section-area--left .price-attr .price {
          margin-bottom: 40px; }
    .section-area--right {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      .section-area--right .card:nth-child(2n+1) {
        margin-right: 0px; }
      .section-area--right .card:nth-child(3n+1) {
        margin-right: 0px; }
      .section-area--right .card:nth-child(1n+1) {
        margin-right: 0px; } }

@media screen and (max-width: 768px) {
  .container {
    padding: 0; }
  .section-area {
    position: relative;
    padding-top: 20px; }
    .section-area--left {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      padding: 10px 10px 0 10px;
      -webkit-transition: visibility .6s opacity .6s;
      transition: visibility .6s opacity .6s;
      z-index: 20;
      background-color: #fff;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4); }
      .section-area--left.active {
        visibility: visible;
        opacity: 1; }
      .section-area--left select {
        width: 160px; }
  header {
    position: relative; }
    header .burger-nav {
      position: absolute;
      top: 25%;
      right: 10px;
      display: block; } }

@media screen and (max-width: 620px) {
  .section-area--left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .section-area--left-item {
      margin-bottom: 15px; }
      .section-area--left-item h2 {
        margin-bottom: 10px; }
    .section-area--left select {
      width: 100%;
      background-size: 3%; } }

/*================= END *media-queries =================*/
/* Rotate Robot from Search result*/
