<partial src="_header.html" title="Attract Group Test"></partial>
<main class="main">
	<div class="container">
		<div class="section-area">
			<div class="section-area--left">
				<div class="section-area--left-item">
					<h2>City</h2>
					<select name="city" id="city">
						<option value="0">London</option>
					</select>
				</div>
				<div class="section-area--left-item">
					<h2>Categories</h2>
					<p>
						<label>
	                    	<input class="checkbox" type="checkbox" name="checkbox-test">
	                    	<span class="checkbox-custom"></span>
	                    	<span class="label">Architecture <span class="count">(11)</span></span>
	                	</label>
                	</p>
                	<p>
	                	<label>
	                    	<input class="checkbox" type="checkbox" name="checkbox-test">
	                    	<span class="checkbox-custom"></span>
	                    	<span class="label">Bussines <span class="count">(3)</span></span>
	                	</label>
                	</p>
                	<p>
	                	<label>
	                    	<input class="checkbox" type="checkbox" name="checkbox-test">
	                    	<span class="checkbox-custom"></span>
	                    	<span class="label">Design <span class="count">(5)</span></span>
	                	</label>
                	</p>
                	<p>
	                	<label>
	                    	<input class="checkbox" type="checkbox" name="checkbox-test">
	                    	<span class="checkbox-custom"></span>
	                    	<span class="label">Development <span class="count">(8)</span></span>
	                	</label>
                	</p>
                	<p>
	                	<label>
	                    	<input class="checkbox" type="checkbox" name="checkbox-test">
	                    	<span class="checkbox-custom"></span>
	                    	<span class="label">Marketing <span class="count">(2)</span></span>
	                	</label>
                	</p>
                	<p>
	                	<label>
	                    	<input class="checkbox" type="checkbox" name="checkbox-test">
	                    	<span class="checkbox-custom"></span>
	                    	<span class="label">Photography <span class="count">(6)</span></span>
	                	</label>
                	</p>
				</div>
				<div class="section-area--left-item">
					<h2>Price</h2>
					<div class="price-attr">
						<div class="price-attr--item">
							<p class="price"><span>$35</span> - <span>$250</span></p>
						</div>
						<div class="price-attr--item">
							<button>Filter</button>
						</div>
					</div>
				</div>
			</div>
			<div class="section-area--right">
				<div class="card">
					<div class="card-top" style="background-image: url('../images/course-1.png');">
						<span>London</span>
					</div>
					<div class="card-bottom">
						<h3>Affiliate Marketing - A Beginner's Guide to Earning Online</h3>
						<div class="card-attr">
							<div class="card-attr-item">
								<span>Architecture</span>
							</div>
							<div class="card-attr-item">
								<span>$115</span>
							</div>
						</div>
					</div>
				</div> <!-- End card-->
				<div class="card">
					<div class="card-top" style="background-image: url('../images/course-2.png');">
						<span>London</span>
					</div>
					<div class="card-bottom">
						<h3>Affiliate Marketing - A Beginner's Guide to Earning Online</h3>
						<div class="card-attr">
							<div class="card-attr-item">
								<span>Architecture</span>
							</div>
							<div class="card-attr-item">
								<span>$150</span>
							</div>
						</div>
					</div>
				</div> <!-- End card-->
				<div class="card" >
					<div class="card-top" style="background-image: url('../images/course-3.png');" >
						<span>London</span>
					</div>
					<div class="card-bottom">
						<h3>Affiliate Marketing - A Beginner's Guide to Earning Online</h3>
						<div class="card-attr">
							<div class="card-attr-item">
								<span>Architecture</span>
							</div>
							<div class="card-attr-item">
								<span>$145</span>
							</div>
						</div>
					</div>
				</div> <!-- End card-->
				<div class="card">
					<div class="card-top" style="background-image: url('../images/course-1.png');" >
						<span>London</span>
					</div>
					<div class="card-bottom">
						<h3>Affiliate Marketing - A Beginner's Guide to Earning Online</h3>
						<div class="card-attr">
							<div class="card-attr-item">
								<span>Architecture</span>
							</div>
							<div class="card-attr-item">
								<span>$95</span>
							</div>
						</div>
					</div>
				</div> <!-- End card-->
				<div class="card" >
					<div class="card-top" style="background-image: url('../images/course-2.png');" >
						<span>London</span>
					</div>
					<div class="card-bottom">
						<h3>Affiliate Marketing - A Beginner's Guide to Earning Online</h3>
						<div class="card-attr">
							<div class="card-attr-item">
								<span>Architecture</span>
							</div>
							<div class="card-attr-item">
								<span>$110</span>
							</div>
						</div>
					</div>
				</div> <!-- End card-->
				<div class="card">
					<div class="card-top" style="background-image: url('../images/course-3.png');" >
						<span>London</span>
					</div>
					<div class="card-bottom">
						<h3>Affiliate Marketing - A Beginner's Guide to Earning Online</h3>
						<div class="card-attr">
							<div class="card-attr-item">
								<span>Architecture</span>
							</div>
							<div class="card-attr-item">
								<span>$145</span>
							</div>
						</div>
					</div>
				</div> <!-- End card-->
			</div>
		</div>
	</div>
</main><!-- /.main -->
<partial src="_footer.html"></partial>